body{
    background-color:#f9f9f9;
    font-size:16px;
    color:#444;
    font-family: sans-serif;
 } 
   .content{
    width: 80%;
    margin: 10px auto; }
   /*header*/
   header{
    background-color: rgb(0, 102, 255);
    padding: 20px 10px;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px; }
    header h1.judul,
header h3.deskripsi{
 text-align: center; }
/*menu navigasi*/
.menu{
 background-color: #87CEFA;
 border: 1px solid #00aeff;
 border-radius: 8px;
 margin-bottom: 10px; }
div.menu ul {
 list-style:none;
 overflow: hidden; }
div.menu ul li {
 float:left; 
 text-transform:uppercase; }
div.menu ul li a {
 display:block; 
 padding:0 20px;
 text-decoration:none;
 color:#2c2c2c;
 font-family: sans-serif;
 font-size:13px;
 font-weight:400;
 transition:all 0.3s ease-in-out; }
div.menu ul li a:hover,
div.menu ul li a.hoverover { 
 cursor: pointer; 
 color:#fff; }
div.badan{
 background-color: white;
 border-radius: 5px;
 border: 1px solid #f0f0f0;
 margin-bottom: 10px;
}

div.halaman{
 text-align: center;
 padding: 30px 20px; }

 .btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}
.fourth {
  border-color: #f1c40f;
  color: #fff;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.fourth:hover {
  background-position: 0;
}
